language: python
python:
  - "3.5"
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"

  - conda config --add channels conda-forge
  - conda config --add channels bioconda
  - conda config --set always_yes yes --set changeps1 no
  - conda config --set show_channel_urls True

  - ENV_NAME='testing'
  - conda create --quiet -n $ENV_NAME python=$TRAVIS_PYTHON_VERSION
  - source activate $ENV_NAME
  - conda install --quiet --file requirements.txt
  - conda list
  - conda info -a
  - wget https://github.com/marqh/terra/archive/master.zip
  - unzip terra-master.zip
  - cd terra-master
  - python setup.py --quiet install
  - cd ..
  - python setup.py --quiet install

script:
  python -m unittest discover -s bald.tests -v
